.card {
    background-color: #e1e1e1;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.6);
    width: 250px;
    margin: 0px 42px 28px 0px;
}
.header {
    height: 40px;
    background-color: brown;
    position: relative;
    color: #fff;
    line-height: 40px;
   .edit {
       width: 15px;
       height: 15px;
       position: absolute;
       right: 6px;
       top: 0;
       bottom: 0;
       margin-top: auto;
       margin-bottom: auto;
       background-image: url('../../../../../assets/pencil.png');
       background-repeat: no-repeat;
       background-position: center;
       background-size: contain;
   } 
}

.details {
    padding-top: 15px;
    padding-bottom: 15px;
}
.sides {
    padding-left: 15px;
    padding-right: 15px;
}